/*
* Author: Jiri Dusek
* Created: 2014
* 
*/

/*------------ MAIN STYLE - COMMON PART ------------*/

*{
  margin: 0;
  padding: 0;
}

html, body {
	height: 100%;
}

body {  	
	background-color: #993502;
	background-image: url('../images/theme/bgStripe.png');
	font-family: Verdana, sans-serif;
	color: white;
	font-size: 0.8em;
	line-height: 1.4em;
}

h1 {
	display: none;
}

h2 {
	font-size: 1.1em;
	padding: 10px 0 15px 3px;
}

h3 {
	font-size: 1.0em;
	line-height: 1.4em;
	font-weight: normal;
}

p {
	padding: 5px 5px 15px 5px;
	text-align: justify;
}
.bgShadow {
	width: 100%;
	min-height: 100%;
        position: fixed;
	z-index: -2000;	
	-webkit-box-shadow: inset 0px -36px 193px 51px rgba(0,0,0,0.67);
	-moz-box-shadow: inset 0px -36px 193px 51px rgba(0,0,0,0.67);
	box-shadow: inset 0px -36px 193px 51px rgba(0,0,0,0.67);
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width:100%;
	margin: 0 auto -80px;
}

.footerSpace { 
	height: 50px;
	float: left;
	width: 100%;
}

.footer {
	clear: both;
	overflow: auto;
	position: relative;
	height: 30px;
}

.footerContent {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	color: grey;
	font-size: 0.8em;
}

.footer a, .footer a:hover {
	color: gray;
	font-size: 1.0em;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.page {
	width: 960px;
	margin: 0 auto; 
}

.section {
	width: 100%;
	float: left;
}

.logo {
	width: 500px;
	height: 180px;
	margin: 10px auto;	
	background-image: url('../images/theme/logo.png');
	background-repeat: no-repeat;
}	

.menu {
	float: left;
	height: 28px;
	background-color: white;
	margin: 20px 0 15px 0;
	-webkit-box-shadow: 10px 10px 29px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 29px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 29px -6px rgba(0,0,0,0.75);
	
	border-radius: 2px 15px 2px 2px; 
	-moz-border-radius: 2px 15px 2px 2px; 
	-webkit-border-radius: 2px 15px 2px 2px; 
	border: 0px solid #800000;
}

.menuItem  {
	float: left;
	padding: 5px 18px 0 15px;
	font-family: 'Muli', sans-serif;
	font-size: 1.1em;
	color: black;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	font-weight: bold;
	
}

.menu a {
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	color: black;
}

.menu a:hover {
	text-decoration: underline;
}

#galery img, .img {
	 margin: 4px 4px 0 0;
	 border: 1px solid grey;
 }

#mainContent, #sideBarContent, #contact, #galery {
	float: left;
	border: 3px solid #cfa070;
	background-image: url('../images/theme/bgContent.png');
	-webkit-box-shadow: inset 1px 0px 40px 0px rgba(0,0,0,0.43);
	-moz-box-shadow: inset 1px 0px 40px 0px rgba(0,0,0,0.43);
	box-shadow: inset 1px 0px 40px 0px rgba(0,0,0,0.43);
}

/*------------ TITLE PAGE ------------*/

#contentTitlePage
{
	width: 920px;         
	margin: 0 auto;
}

#mainContent { 
	width: 620px;		
	padding: 10px 15px 25px 15px;
	margin: 0 25px 0 0;
}

#sideBarContent { 		
	padding: 10px 15px 15px 15px;	
	width: 180px;
}

#info-block
{
	float: left;
	width: 240px;
	height: 160px;
	margin: 0 0 0 20px; 	
 }
 
 ul.products li {
	height:25px;
	background-image: url('../images/theme/indent.png');
	background-repeat: no-repeat;
	background-position: 0 2px;                                        	
	display: block;
	padding: 0 0 0 25px;
}
 
 #titleImages {
	float: left;
	width: 300px;
	margin: 0 0 0 50px; 		 
 }

/*------------ GALERY PAGE ------------*/
#contentGalery {
	width: 870px;
	margin: 0 auto;
}

#galery {
	width: 840px;		
	padding: 10px 25px 30px 25px;	
	float: left;
}

/*------------ CONCAT PAGE ------------*/

#contentContact {
	width: 590px;
	margin: 0 auto;
}

#contact {
	width: 530px;		
	padding: 10px 15px 25px 15px;
	margin: 0 auto;
}

div.center {
	text-align: center;
}

#bgContact {
	width: 530px;
	min-height: 150px;
	background-image: url('../images/theme/contact.png');
	background-position: 250px 0;
	background-repeat: no-repeat;
}